.all-products {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  flex-wrap: wrap;
  /* height: 100vh; */
  /* justify-content: space-between; */
  align-items: center;
  justify-content: space-around;
  margin-left: 6%;
  padding-top:1%;
  padding-bottom:1%

}
.productes {
  display: flex;
  flex-direction: row;
  width: 40%;
  /* height: 40vh; */
  gap: 2%;
  /* margin: 0.25%; */
  align-items: flex-start;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px grey;
  /* margin: 4px -5px; */
  /* justify-content: center; */
  border: solid rgb(223, 215, 215) 1px;
  

}
.productes-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 37px;

}
 
.productes-btn a{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  /* border-right: 1px solid rgb(211, 206, 206); */
  width:40%;
  height:10vh;
  
}
.productes-btn{
  display: flex;
  flex-direction: row;
  gap:5%;
  width:100%;
  /* justify-content: space-between; */
  /* align-items: center; */
  margin-top :20%;
  border-top: 1px solid rgb(211, 206, 206);
  

}
.price{
  text-align: center;
  /* width: 100%; */
  border-bottom: 1px solid rgb(211, 206, 206); 

}
.productes:hover{
 transform: scale(0.995);
}