/* li{
    color:black
} */
.Category{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #6d44b8;
  width: 100%;
  color: #e0dede;
}