@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
.App {
  /* text-align: center; */
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  min-height: 100%
}
 header {
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.root {
  font-family: 'Poppins', sans-serif;
  min-height: 100%
}
body > #root > div {
  height: 90vh;
}