.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #6d44b8;

  color: #e0dede;
  /* padding: 0 10%; */
  width: 100%;
  border-bottom: solid 1px #e0dede;
  height: 10vh;
}
.search {
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.nav {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;
  /* gap: 50%; */
  height: 8vh;
  width:200%;
  /* padding:0 10% 0 10% */
  overflow: hidden;
  

}
.link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #e0dede;
  display: block;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
/* .search{
    position: relative;
    top: 50%;
    left: 50%;
     transform: translate(-50%,-50%); 
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    left:10%
}  */

/* .serach-inp{
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
} */

/* .serach-btn{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #6d44b8;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
} */
/* .search:hover{
    width: 200px;
    cursor: pointer;
}

.search:hover .serach-inp{
    display: block;
}

.search:hover .serach-btn{
    background: #6d44b8;
    color: white;
} */
.main-header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;

  background-color: #6d44b8;

  color: #e0dede;
  /* padding: 1%; */
  
}
.nav-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width: 10%;

  /* gap: 1%; */
}
.nav-2{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items:center;
  gap: 4%;
  width: 11%;
}